$base-font-size: 16px;
$default-font-weight: 400;
$font-family-sans: theme('fontFamily.sans');
$font-family-mono: 'fontFamily.mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
