html {
	font-family: $font-family-sans;
	font-size: $base-font-size;
}

body {
	background-color: #fff;
	color: #000;
	position: relative;
}

#app {
	min-height: inherit;
}

code, kbd, samp, pre {
	font-family: $font-family-mono;
}

input:autofill {
	background: none;
	box-shadow: unset;
	-webkit-text-fill-color: #000;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/
input::placeholder, textarea::placeholder {
	opacity: 1; /* 1 */
	color: theme('colors.gray.400'); /* 2 */
}
