.vertical-text {
	writing-mode: tb-rl;
	transform: rotate(180deg);
}

.visually-hidden {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.shadow {
	box-shadow: 0px 7px 20px 0 rgba(#000, 0.075);
}

.vertical-text {
	writing-mode: tb-rl;
	transform: rotate(180deg);
}
