$ui-color-white: #fff;
$ui-color-black: #000;

$ui-color-primary: #306fdb;

$ui-color-gray-50: #fafafa;
$ui-color-gray-100: #f5f5f5;
$ui-color-gray-200: #e5e5e5;
$ui-color-gray-300: #d4d4d4;
$ui-color-gray-400: #a3a3a3;
$ui-color-gray-500: #737373;
$ui-color-gray-600: #525252;
$ui-color-gray-700: #404040;
$ui-color-gray-800: #262626;
$ui-color-gray-900: #171717;

$ui-font-size-lg: 1.125rem;
